.header.clearfix
	nav
		if auth
			ul.nav.nav-pills
				li.active(role='presentation')
					a(href='/') Shizzle!
				li(role='presentation')
					a(href='/profile') Profile
				li(role='presentation')
					a(href='/logout') Logout
		else
			ul.nav.nav-pills
				li.active(role='presentation')
					a(href='/') Shizzle!
				li(role='presentation')
					a(href='/login') Login
				li(role='presentation')
					a(href='/signup') Sign up