html
	include ../partials/_lib.pug
	hr
	body
		.container
			include ../partials/_nav.pug
			.row
				h1#joinroom= room.name
					button.btn.btn-success Join
				h3= room.location
				hr
				.col
					h4 Now playing
					input(id='nowplaying' type='hidden', name='country', value=room.playlist.youtube[0])
					#player
					
					hr
					h4 Playlist
					div.list-group
						each val in room.playlist.youtube
							a.list-group-item= val

		script(src='/js/play.js')