html
	include partials/_lib.pug

	body
		.container
			include partials/_nav.pug
			.jumbotron
				h1 Welcome to Shizzle-life
				p
					a.btn.btn-primary.btn-lg SignUp
					|  
					a.btn.btn-primary.btn-lg Login
				h3 or Get Started with
					br
					br
					a.btn.btn-primary(href='/auth/facebook')
						span.fa.fa-facebook
						|  Facebook
