html
	include partials/_lib.pug
	.list-group
		each val in res
			form.form-inline(action='/addtolist', method='post')
				input(type='hidden', name='vidid', value= val.id.videoId)
				#thebut.list-group-item= val.snippet.title
					select.form-control(name='room')
						option(value='my_party') My Party
						option(value='side_Street') Side Street
						option(value='pool') Pool Party
						option(value='audi') Audi
					button.btn.btn-success(type='submit') Submit
